[submodule "Semester 2/Pemrograman Java Lanjutan (Pak Yusuf)/KalkulatorJavaSwing"]
	path = Semester 2/Pemrograman Java Lanjutan (Pak Yusuf)/KalkulatorJavaSwing
	url = git@github.com:tfkhdyt/KalkulatorJavaSwing.git
