<div class="col-12 col-lg-10 mx-auto text-center mt-3">
  <span class="text-muted">Taufik Hidayat | 301200032 | Teknik Informatika</span>
</div>
<div class="col-12 col-lg-10 mx-auto text-center mt-2 mb-4">
  <span class="text-muted">
    <a class="btn btn-outline-secondary btn-sm" href="https://tfkhdyt.my.id/" target="_blank"> <i class="fas fa-globe"></i> Website</a>
    <a class="btn btn-outline-secondary btn-sm" href="https://github.com/tfkhdyt/data-tanaman-express" target="_blank"> <i class="fab fa-github"></i> Source Code</a>
  </span>
</div>